<!-- {% extends 'homesite/base.html'%} -->
{%load staticfiles%}
{%block content%}
<!--=============== Content holder  ===============-->
<div class="content-holder elem scale-bg2 transition3" >
	<!--=============== Content   ===============-->
	<div class="content full-height content-mobile-about-me content-desktop-contact">
		<div class="full-height-wrap fixed-wrap fixed-mobile-about-me fixed-desktop-contact">
			<div class="bg" style="background-image:url({{image}})"></div>
			<div class="overlay"></div>
		</div>
		<!--background  end  -->	
		<!--=============== custom-inner ===============-->
		<div class="custom-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-5"> </div>
					<div class="col-md-6">
						<h2>About me</h2>
						<div class="separator"></div>
						<div class="clearfix"></div>
						<p>{{body}}</p>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- custom-inner end  -->                   
	</div>
	<!-- Content end  -->  
{%endblock%}
