{%extends 'homesite/base.html'%}
{%load staticfiles%}
{%block content%}
<!--=============== content-holder ===============-->
<div class="content-holder elem scale-bg2 transition3">
	<!--=============== content ===============-->
	<div class="content full-height">
		<!-- portfolio  Images  -->
		<div class="resize-carousel-holder anim-holder">
			<div id="gallery_horizontal" class="gallery_horizontal">
				{%for photo in album.album_photos.all%}
				<!-- gallery Item-->
				<div class="horizontal_item">
					<img src="{{photo.image.url}}" alt="">
					<div class="show-info">
						<span>Info</span> 
						<div class="tooltip-info">
							<h5>Nulla blandit</h5>
							<p>{{photo.description}}</p>
						</div>
					</div>
				</div>
				<!-- gallery item end-->
				{%endfor%}
			</div>
			<!--  navigation -->
			<div class="customNavigation">
				<a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
				<a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
			</div>
			<!--  navigation end-->
		</div>
		<!-- portfolio  Images  end-->
	</div>
	<!-- Content end  -->  
	<!-- Share container  -->    
	<div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
</div>
<!-- content holder end -->
{%endblock%}
