{% load staticfiles%}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Elizabeth Dixon Photography</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="photography, elizabeth dixon, wedding, potraits"/>
        <meta name="description" content="Elizabeth Photography - Professional Wedding and Portraits"/>
        <!--=============== css  ===============-->
        <link rel="stylesheet" href=https://d289egutf694s.cloudfront.net/static/font-awesome/css/font-awesome.min.css>
        <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/yourstyle.css' %}">
        <!--=============== favicons ===============-->
		<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
    </head>
    <body>
        <!--Loader  -->
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--LOader end  -->
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->
            <header>
                <!-- Header inner  -->
                <div class="header-inner">
                    <!-- Logo  -->
                    <div class="logo-holder">
						<a href="{%url 'home'%}"
							<p class='name-logo'>Elizabeth Dixon Photography</p>
						</a>
                    </div>
                    <!--Logo end  -->
                    <!--Navigation  -->
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m" id="nav-mobile"><span></span><span></span><span></span></div>
                    </div>
                    <div class="show-share isShare">Share</div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
								<li><a href="{%url 'home'%}">Home</a></li>
								<li><a href="{%url 'portifolio' %}">Portfolio</a></li>
								<li><a href="{%url 'about_me' %}">About me </a>
                                </li>
								<li><a href="{% url 'contact'%}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--navigation end -->
                </div>
                <!--Header inner end  -->
            </header>
            <!--header end -->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
				{% block content %}
				{% endblock %}
            </div>
            <!-- wrapper end -->
            <div class="left-decor"></div>
            <div class="right-decor"></div>
            <!--=============== Footer ===============-->
            <footer>
                <div class="policy-box">
					<span>&#169; {{home_information.company_name}}. All rights reserved. </span>
                    <ul>
						<li><a href="#">{{home_information.email}}</a></li>
						<li><a href="#">{{home_information.telephone}}</a></li>
                    </ul>
                </div>
                <!-- footer social -->
                <div class="footer-social">
                    <ul>
						<li><a href="{{home_information.facebook}}" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{home_information.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{home_information.instagram}}" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="{{home_information.pinterest}}" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <!-- footer social end -->
                <div class="to-top"><i class="fa fa-angle-up"></i></div>
            </footer>
            <!-- footer end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/custom_scripts.js' %}"></script>
    </body>
</html>