{% extends 'homesite/base.html'%}
{% load staticfiles%}
{%block content%}
<!--=============== Content holder  ===============-->
<div class="content-holder elem scale-bg2 transition3 slid-hol" >
	<!--=============== Content ===============-->
	<div class="content full-height">
		<!-- full-height-wrap end  -->
		<div class="full-height-wrap">
			<div class="swiper-container" id="horizontal-slider" data-mwc="1" data-mwa="0">
				<div class="swiper-wrapper">
					<!--=============== 1 ===============-->
					<div class="swiper-slide">
						<img src={{photo}} style="width:100%;">
						<div class="overlay"></div>
						<div class="slide-title-holder">
						</div>
					</div>
					<!-- 1 end -->
				</div>
			</div>
		</div>
		<!-- full-height-wrap end  -->
	</div>
	<!-- Content end  -->
	<!-- Share container  -->
	<div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
</div>
<!-- content holder end -->
{%endblock%}
