{%extends 'homesite/base.html'%}
{% load staticfiles%}
{%block content%}
<!-- ====START CONTENT===-->
<div class="content-holder elem scale-bg2 transition3">
	<!-- title -->
	<!--=============== content ===============-->
	<div class="content content-mobile-portfolio">
		<section>
			<div class="container">
				<!--  portfolio header -->                     
				<h2 class="subtitle" style="color:#545353;font-size:16px;">Portfolio</h2>
				<!--  portfolio header end-->  
				<!-- Filters-->
				<div class="filter-holder">
					<div class="gallery-filters">
						{%for category in categorys%}
							<a href="#" class="gallery-filter gallery-filter-active"  data-filter="*">All Albums</a>
							<a href="#" class="gallery-filter " data-filter=".{{category.name}}">{{category.name}}</a>
							<a href="#" class="gallery-filter " data-filter=".travel">travel</a>
						{%endfor%}
					</div>
				</div>
				<!-- filters end -->
			</div>
			<div class="gallery-items    grid-big-pad three-coulms   vis-port-info">
				{%for album in albuns%}
				<!-- 1 -->
				<div class="gallery-item travel">
					<div class="grid-item-holder">
						<div class="box-item">
							<a href="{%url 'album' album.pk %}" >
								<span class="overlay"></span> 
								<img  src="{{album.album_photos.all.0.image.url}}"   alt="">
							</a>
						</div>
						<div class="grid-item ">
							<h3><a href="{%url 'album' album.pk %}" class="ajax portfolio-link">{{album.name}}</a></h3>
						</div>
					</div>
				</div>
				<!-- 1 end -->
				{%endfor%}
			</div>
		</section>
	</div>
	<!-- Content end  -->  


	{%endblock%}
