/*******************************************************************************
 Add your custom css styles here
 *******************************************************************************/

@font-face {
	font-family: Dinstant_Stroke; src: url('../../static/fonts/distant_stroke.otf')
}

@font-face {
	font-family: Dorsa; src: url('../../static/fonts/Dorsa-Regular.ttf')
}

@media only screen and (min-width: 880px) and (max-width:1280px){

	.override-full-height {
		left:6%;
	}

	.resize-carousel-holder-override {
		width: 90%;
	}

	.fix-image {
		left: 3%;
		width: 90%;
	}

	.content-desktop-contact {
		margin-top: 0%;
	}

	.fixed-desktop-contact {
		top: 20%;
	}

	.name-logo {
		display: block;
		float: left;
		font-family:Dinstant_Stroke, sans-serif;
		font-size: 40px;
		margin: 15px;
		margin-left: 17%
	}

	.override-arrow-left {
		position: absolute;
		float: left;
		font-size: 4em;
		right: 17em;
		top: 4.1em;
	}

	.override-arrow-right {
		display: block;
		float: left;
	}

	.override-hs {
		position: inherit;
	}
}

* {
  margin: 0;
  padding: 0;
}

.galeryThumb {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

.ul-galery {
  list-style-type: none;
}

.li-galery > a >img {
  float: left;
  margin: 10px;
  border: 5px solid #fff;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

.li-galery > img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

.thumbnail {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 880px){
	.name-logo {
		display: block;
		float: left;
		font-family:Dinstant_Stroke, sans-serif;
		font-size: 35px;
		margin: 15px;
		margin-top: 20px;
		margin-left: 18%;
	}
}


@media only screen and (max-width: 650px){
	.content-mobile-home {
		left: -3%;
		top: 4%;
	}

	.content-mobile-portfolio {
		margin-top: 30%;
		margin-left: 12%;
	}

	.content-mobile-about-me {
		margin-top: 0%;
	}

	.fixed-mobile-about-me {
		top:30%;
	}

	.content-mobile-contact {
		margin-top: auto;
	}

	.fixed-mobile-contact {
		top: 20%;
		height: 70%;
	}

	.fix-problem-height {
		bottom: 25%;
	}
}
